<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljh.cash.gift_management.domain.mapper.SchoolMapper">
    <sql id="table_name">
        gift_management.school
    </sql>

    <sql id="school_column">
        s_name, s_address, province, city
    </sql>

    <select id="selectSchools" resultType="SchoolModel2">
        select *
        from gift_management.school
    </select>

    <update id="updateSchool" parameterType="SchoolModel2">
        update gift_management.school
        <set>
            <if test="s_name != null">
                school.s_name = #{s_name, jdbcType=VARCHAR},
            </if>
            <if test="s_address != null">
                school.s_address = #{s_address, jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            id = #{id, jdbcType=INTEGER}
        </where>
    </update>
</mapper>